# OS ignores
## Windows
Thumbs.db

## macOS
.DS_Store

## Linux
lost+found

# Stack ignores
dist/
out/
node_modules/

# IDE ignores
.vscode

# Project ignores
CHANGELOG.test.md
vendor/changelog
install.log
changelog
